body {
    background-color: beige;
    text-align: center;
}

.mainBox {
    background-color: aquamarine;
    color: darkblue;
    margin: auto;
    padding: 20px;
    width: 200px;
    border: solid 10px black;
}

.massage {
    background-color: aliceblue;
}

#logo {
    width: 20px;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }